@font-face {
  font-family: cursedTimer;
  src: url(./font/CursedTimerUlil-Aznm.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 410px;
  width: 575px;
  margin: 0 auto;
  background-color: #064E3B;
  color: #EEEEEE;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
}

h3 {
  margin-top: 68px;
}

.score {
  width: 155px;
  height: 120px;
  background-color: #080001;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

span {
  font-family: "cursedTimer", sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  color: #F94F6D;
}

button {
  height: 45px;
  width: 45px;
  font-family: "cursedTimer", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color:#6EE7B7;
  background-color: #064E3B;
  border: 2px solid #6EE7B7;
  border-radius: 5px;
}

button:hover {
  color: #064E3B;
  background-color: #6EE7B7;
  transition-duration: 0.2s;
  cursor: pointer;
}

#new-game {
  position: absolute;
  top: 360px;
  width: 150px;
}

#home-score-cell, #guests-score-cell {
  border: none;
}