@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*  colors  */
  --body: #1C1C1C;
  --container-color: #1F2937;
  --text-color: white;
  --heading-highlight-color: #4ADF86;
  --paragraph-color: #D5D4D8;
  --button-generate-color: #10B981;
  --password-color: #55F991;
  --background-password-color: #2F3E53;
  
  /*  fonts  */
  --Inter: 'Inter', sans-serif;
  --Karla: 'Karla', sans-serif;
  
  font-size: 10px;
}

body {
  background: var(--body);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: var(--container-color);
  max-width: 600px;
  width: 100%;
  padding: 10rem 5rem;
  border-radius: 1.5rem;
}

h1 {
  color: var(--text-color);
  font-family: var(--Karla);
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.025em;
  padding-bottom: 0.5em;
}

span {
  color: var(--heading-highlight-color);
}

p {
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--paragraph-color);
}

header {
  margin-bottom: 5rem;
}

.generate-password {
  display: block;
  margin-top: 2em;
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: var(--button-generate-color);
  color: var(--text-color);
  padding: 0.6em 1em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

label, fieldset .add  {
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-color);
}

#psw-leng {
  background: var(--background-password-color);
  border: 0.2em double var(--container-color);
  color: var(--text-color);
  text-align: center;
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
}

hr {
  background: var(--background-password-color);
  border: 1px solid #2F3E53;
  margin: 3.5rem 0;
}

.password {
  font-family: var(--Inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.2rem;
  background: var(--background-password-color);
  color: var(--password-color);
  border: none;
  border-radius: 6px;
  width: 47%;
  height: 2.5em;
}

.one {
  margin-right: 1.5em; 
}

fieldset {
  width: 100%;
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  border: 0.3em dotted var(--background-password-color);
}

fieldset hr {
  margin: 2em 0;
}
.symb-cont {
  margin: 1em 0;
}






@media (max-width: 550px) {
  .passwords-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .password {
    width: 100%;
    max-width: 250px;
  }
  .one {
    margin-bottom: 1em;
    margin-right: unset;
  }
}