@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: rgb(29, 36, 46);
$dark-circle: rgb(37, 47, 57);
$very-dark-blue: hsl(216, 12%, 8%);

$overpass: 'Overpass', sans-serif;

:root {
  font-size: 10px;
}
  
body {
  background-color: $very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: $overpass;
  font-size: 1.5em;
}

p {
  color: $medium-grey;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

h1 {
  color: white;
  margin: 0.8em 0 0.5em;
  font-size: 3rem;
}

.card {
  background-color: $dark-blue;
  padding: 1.8em;
  border-radius: 2em;
  max-width: 350px;
  width: 100%;
  min-height: 375px;
  position: relative;
}



.front, .back {
  width: 100%;
  height: 100%;
}

.front {
  top: 0;
  left: 0;
  &.is-active {
    position: static;
  }
}

.back {
  display: none;
}


// !!!!!!!!!!!!!!!
// !!!!!FRONT!!!!!
// !!!!!!!!!!!!!!!

.rating-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cont, span, label {
  background-color: $dark-circle;
  border-radius: 100px;
}

.cont {
  display: inline-block;
  padding: 1em 1.1em;

  .star {
  vertical-align: middle;
  }
}

span, label {
  font-size: 1.5rem;
  color: $medium-grey;
  padding: 0.8em 1.2em;
}

input[type="checkbox"] {
  display: none;
}


.front label:hover {
  color: white;
  background-color: $orange;
  cursor: pointer;
  transition-duration: 0.5s;
}

#rate1 {
  padding: 0.8em 1.3em;
}

.submit {
  margin-top: 2em;
  width: 100%;
  padding: 1em 0;
  border-radius: 100px;
  background-color: $orange;
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  &:hover {
    background-color: white;
    color: $orange;
    cursor: pointer;
    transition-duration: 0.3s;
  }
}

.clicked {
  background-color: $orange;
  color: white;
}

// !!!!!!!!!!!!!!!!
// !!!!!!BACK!!!!!!
// !!!!!!!!!!!!!!!!

.back {
  align-items: center;
  h2 {
    color: white;
    margin-bottom: 0.5em;
  }

  p {
    text-align: center;
  }
}

.ty-icon {
  width: 50%;
  margin-top: 1em;
}

#rating-el {
  margin: 1.5em 0 2em;
  color: $orange;
  vertical-align: middle;
  padding: 0.5em 0.8em;
}